error_log /var/log/nginx/error.log;

events {}
http {
 server {
        #listen 8009;
        #listen 10.1.196.178:453;
        server_name _;

        include /etc/nginx/default.d/*.conf;
        
        location / {
                root /usr/share/nginx/html;
                index index.html;
        }

        error_page 404 /404.html;
            location = /40x.html {
            }
    }       
}